@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Rock+Salt&display=swap');

header {
  margin-top: -1.5em;
  margin-bottom: -1.2em;
  margin-left: .8em;
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  margin-left: .1em;
  margin-top: -.1em;
}

li {
  font-size: 1.7em;
  padding-left: .7em;
  padding-right: .7em;
  padding-top: .5em;
  margin-top: .7em;
}

li:hover {
  cursor: pointer;
  background-color: rgba(60,60,60,0.6);
}

h2 {
  font-family: 'Rock Salt', cursive;
}

body {
  background-color: black;
  color: white;
  font-family: 'Pangolin', cursive;
}